{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Our Appartments</h2>
    <div class="row">
        {% for appartement in appartements %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{{ appartement.image.url }}" class="card-img-top" alt="{{ appartement.nom }}">
                <div class="card-body">
                    <h5 class="card-title">{{ appartement.nom }}</h5>
                </div>
                <div class="card-footer">
                    <a href="{{ appartement.get_absolute_url }}" class="btn btn-primary">See more</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}